@media(min-width: 1200px){
	.container{
		background-image: url('../img/contact-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		min-height: 600px;
	}
	.content-row{
		width: 530px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0px;
		padding-bottom: 40px;
	}
	.container h1{
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 10px;
		font-weight: bold;
	}
	.container img.logo-goal{
		width: 20%;
		position: absolute;
		left: 100px;
		top:10px;
	}
	label{
		text-align: right;
		display: block;
		margin-right: 30px;
		margin-top: 5px;
		margin-bottom: 10px;
		font-size:16px;
	}
	input{
		border:solid 3px #ccc;
		border-radius:6px;
		padding:5px 8px; 
		position: relative;
		padding-right:75px;
		padding-left:45px;
		text-align: left;
	}
	textarea{
		color: black;
	}
	input.radio1{
		margin-top: 11px;
	}
	#p_package{
		width: 100%;
		border:solid 3px #ccc;
		margin-top: 5px;
		border-radius:5px;
	}
	textarea{
		width: 100%;
		border:solid 3px #ccc;
		border-radius:6px;
	}
	.submit{
		background-color: black;
		color: #fff;
		width: 100px;
		line-height: 25px;
		margin-top:40px; 
		padding:5px;
		font-weight: bold;
		text-align: center;
	}
	.submit:hover{
		background-color:#fff;
		color:black;
	}
	input{
		position: relative;
	}
	.ab{
      padding:7px;
      border-radius:4px;
      position: absolute;
      left:0px;
      right:150px;
      margin-left: auto;
      margin-right: auto;
      width: 30px;
      line-height: 25px;
      z-index: 1;
	}
}
@media(max-width: 1199px){
	.container{
		width: 100%;
		background-image: url('../img/contact-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		margin-left: auto;
		margin-right: auto;
	}
	.content-row{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.container img{
		width: 20%;
		position: absolute;
		left: 0px;
		right: 20px;
		margin-left: auto;
		margin-left: auto;
		top:3px;
	}
	.container h1{
		font-size: 20px;
		text-align: left;
	}
	label{
		text-align: left;
		display: block;
		margin-right: 0px;
		margin-bottom: 10px;
		font-size:12px;
	}
	input{
		color: black;
		width: 100%;
		padding: 0;
		border-radius:6px; 
		text-align: center;
		position: relative;	
		margin-bottom: 15px;
		border:solid 2px #ccc;
		position: relative;
	}
	textarea{
		color: black;
	}
	.radio1{
		left: -100px;
		margin-left: auto;
		margin-right: auto;
	}
	input{
		position: relative;
	}
	.ab{
	    position: absolute;
		color: black;
	    border-radius:4px; 
	    left: 0px;
	    right: 75px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 20px;
	    line-height: 25px;
	    z-index: 1;
	    text-align: center;
	    padding:0;
	    display: inline-block;
	}
	.submit{
		background-color: black;
		color: #fff;
		width: 100px;
		line-height: 25px;
		margin-top:40px; 
	}
	.submit:hover{
		background-color:#fff;
		color:black;
	}
	#p_package{
		border:solid 2px #ccc;
		border-radius:6px; 
	}
	textarea{
		border:solid 2px #ccc;
		border-radius:6px; 
		width: 100%;
	}
}



.footer{
	position: relative;
	background-color: #005ca1;
	height: 80px;
}
.footer:after{
	content: "";
	clear: both;
	display: block;
}
.footer p{
	position: absolute;
	bottom: 0;
	right: 20px;
	color: white;
}
.footer .power-img{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	margin-right: auto;
}

@media(max-width: 1199px){
	.footer{
		position: relative;
		background-color: #005ca1;
		height: 80px;
	}
	.footer:after{
		content: "";
		clear: both;
		display: block;
	}
	.footer p{
		position: absolute;
		bottom: 10px;
		right: 0px;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		color: white;
		width: 160px;
	}
	.footer .power-img{
		position: absolute;
		width: 40px;
		height: 40px;
		bottom: 17px;
		right: 0px;
		left: 150px;
		margin-left: auto;
		margin-right: auto;
	}
}



